body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    margin: 0px 0px 35px 0px;
}

.logo {
    width: 10vh;
    height: 10vh;
}

nav,
#menu-box {
    display: none;
}

#menu-box:checked ~ nav {
    display: block;
}

a {
    text-decoration: none;
}

header {
    font-size: 1.5rem;
    align-items: center;
}

.menu-label {
    float: right;
}

.fas {
    position: absolute;
    top: 25px;
}

header, .fas {
    justify-content: space-between;
}

nav {
    position: absolute;
    background: black;
}

nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.logo-name {

    text-align: center;
}
/* Home */
.the-museum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-museum img {
    width: 70%;
    padding: 50px;
}

.the-museum-info p {
    text-align: left;
    margin: 30px;
}

.the-museum-info {
    text-align: center;
}

.cta {
    background-color: #E86826;
    padding: 10px 60px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 6px 10px black;
    margin-top: 10px;
}

.skeleton {
    text-align: center;
    margin: 50px;
}

.the-museum2 {
    text-align: center;
}

.skeleton1 img, .skeleton2 img {
    width: 330px;
}

.skeleton1, .skeleton2 {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Exhibition*/
.exhibition {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 50px;
    margin: 50px;
    box-shadow: 10px 16px 15px black;
}

.exhibition img {
    width: 100%;
}

.exhibition-info {
    padding: 5%;
}


/* Footer*/
footer {
    text-align: center;
}

@media (min-width : 768px) {
    nav {
        display: block;
        position: static;
    }

    .fas {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* home */

    .the-museum {
        display: grid;
        grid-template-columns: 5fr 4fr;
        margin: 30px;
    }
    
    .the-museum img {
        width: 100%;
        padding: 0;
    }

    .the-museum2 {
        display: flex;
        justify-content: center;
    }

    .skeleton1, .skeleton2 {
        display: flex;
        flex-direction: column;
    }

    /*exhibition*/
    .exhibition {
        display: grid;
        grid-template-columns: 4fr 5fr;
    }
}

@media (min-width : 1200px){
    /*Home*/
    .skeleton1 img, .skeleton2 img {
        width: 500px;
    }
    
}

