body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    margin: 0px 0px 35px 0px;
    line-height: 2;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace
}

.logo {
    width: 10vh;
    height: 10vh;
}

nav,
#menu-box {
    display: none;
}

#menu-box:checked ~ nav {
    display: block;
}

a {
    text-decoration: none;
}

header {
    font-size: 1.5rem;
    align-items: center;
}

.menu-label {
    float: right;
    padding: 50px;
}

.fas {
    position: absolute;
    top: 25px;
}

nav {
    position: absolute;
    background: black;
    right: 0px;
    top: 55px;
}

nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(241, 130, 75);
}

.logo-name {
    text-align: center;
}
/* Home */
.the-museum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-museum img {
    width: 70%;
    padding: 50px;
}

.the-museum-info p {
    text-align: left;
    margin: 30px;
}

.the-museum-info {
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(241, 130, 75);
}

h3 {
    margin: 50px;
}
 /*cta*/
.cta {
    background: none;
    padding: 10px 60px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 10px #E86826;
    margin-top: 10px;
    transition: ease-out 0,8s;
    cursor: pointer;
}


.cta:hover {
    background-color: #E86826;
}

/*Skeleton*/

.skeleton {
    text-align: center;
    margin: 50px;
}

.the-museum2 {
    text-align: center;
}

.skeleton1 img, .skeleton2 img {
    width: 330px;
}

.skeleton1, .skeleton2 {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Exhibition*/
.exhibition {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 30px;
    margin: 20px 10px;
    box-shadow: 1px 1px 25px black;
}

.exhibition img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exhibition-info {
    padding: 5%;
    text-align: center;
}

.exhibition-info p {
    text-align: left;
}

/*Get involved*/

.get {
    background-image: url(../Images/learn-2405206_1920.jpg);
    background-size: 100%;
}

.get h1, h3 {
    color: #E86826;
    text-align: center;
}

.get-involved {
    align-items: center;
    padding: 30px;
    margin: 30px 10px;
    box-shadow: 1px 1px 15px black;
    text-align: center;
}

.get-involved-info p {
    text-align: left;
}

/*Visit*/
.map {
    margin: 20px;
    padding: 29px;
}

.map-info {
    padding: 5%;
    text-align: center;
}

/* Footer*/
footer {
    text-align: center;
}

@media (min-width : 768px) {
    nav {
        display: block;
        position: static;
    }

    .fas {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .get-involved-info details {
        display: none;
    }

    /* home */

    .the-museum {
        display: grid;
        grid-template-columns: 5fr 4fr;
        margin: 50px;
    }
    
    .the-museum img {
        width: 100%;
        padding: 0;
    }

    .the-museum2 {
        display: flex;
        justify-content: center;
    }

    .skeleton1, .skeleton2 {
        display: flex;
        flex-direction: column;
    }

    /*exhibition*/
    .exhibition {
        display: grid;
        grid-template-columns: 4fr 5fr;
        margin: 100px;
    }

    /*Get Involved*/
    .get-involved {
        margin: 100px;
    }

    
    /*Visit*/
    .map {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
    }

    .map-info {
    padding: 5%;
    text-align: center;
    }
}

@media (min-width : 1200px){
    /*Home*/
    .skeleton1 img, .skeleton2 img {
        width: 500px;
    }
    
    /*Get involved*/
    .get-involved {
        margin: 100px 200px;
    }
}

