body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

p, h3 {
    font-size: 20px;
    margin: 0px 0px 35px 0px;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif
}

.logo {
    width: 10vh;
    height: 10vh;
}

nav,
#menu-box {
    display: none;
}

#menu-box:checked ~ nav {
    display: block;
}

a {
    text-decoration: none;
}

header {
    font-size: 1.5rem;
    align-items: center;
}

.menu-label {
    float: right;
    padding: 50px;
}

.fas {
    position: absolute;
    top: 25px;
}

nav {
    position: absolute;
    background: black;
    right: 0px;
    top: 55px;
}

nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(241, 130, 75);
}

.logo-name {
    text-align: center;
}
/* Home */
.the-museum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-museum img {
    width: 70%;
    padding: 50px;
}

.the-museum-info p {
    text-align: left;
    margin: 30px;
}

.the-museum-info {
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(241, 130, 75);
}

h2 {
    color: #E86826;
    line-height: 2;
    font-weight: bolder;
    font-size: 30px;
}

/*cta*/
.cta {
    background: none;
    padding: 10px 40px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 10px #E86826;
    margin-top: 10px;
    transition: ease-out 0,8s;
    cursor: pointer;
}

.cta:hover {
    background-color: #E86826;
}

/*Skeleton*/

.skeleton {
    text-align: center;
    margin: 30px;
}

.the-museum2 {
    text-align: center;
}

.skeleton1 img, .skeleton2 img {
    width: 235px;
}

.skeleton1, .skeleton2 {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Exhibition*/
.exhibition {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 30px;
    box-shadow: 1px 1px 25px black;
}

.exhibition img {
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.exhibition-info {
    padding: 5%;
    text-align: center;
}

.exhibition-info p {
    text-align: left;
}

/*Get involved*/

.logo-name img {
    width: 100%;
}

.get-involved {
    align-items: center;
    padding: 30px;
    margin: 30px;
    box-shadow: 1px 1px 15px black;
    text-align: center;
}

.get-involved-info p {
    text-align: left;
}

/* Explore */
.explore-name {
    background-image: url(../Images/lab-512503_1920.jpg);
    background-size: cover;
    object-fit: cover;
    height: 100%;
    text-align: center;
}

.explore {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 30px;
    margin: 30px;
    box-shadow: 1px 1px 25px black;
}

.explore img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-info {
    padding: 5%;
    text-align: center;
}

.explore-info p {
    text-align: left;
}

/*Visit*/
.map {
    margin: 20px;
    padding: 29px;
    display: flex;
    flex-direction: column;
}

.map1 {
    width: 300;
    height: 300px;
}

.map-info {
    padding: 5%;
    text-align: center;
}

.hours {
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

.about-us {
    flex: 1;
    width: 100%;
    text-align: center;
    padding: 2%;
}

/* Footer*/
.footer {
    background-color: rgb(0, 0, 0);
    color: #E86826;
    width: 100vw;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer p {
    margin: 0px 0px 10px 0px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer h2 {
    font-size: 25px;
    line-height: 1;
    color: #E86826;
}

.copyright {
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: #E86826;
    padding: 10px;
}

@media (min-width : 768px) {
    /* home */
    .the-museum2 {
        display: flex;
        justify-content: center;
    }

    .skeleton {
        margin: 50px;
    }

    .skeleton1, .skeleton2 {
        display: flex;
        flex-direction: column;
    }

    /*Get Involved*/
    .get-involved {
        margin: 100px;
    }

    /*Explore*/
    .explore-name h1, .explore-name h2 {
        padding: 50px;
    }

    /*Visit*/
    .map {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    }

    .map1 {
        width: 500px;
        height: 500px;
    }

    .about {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
    }
}

@media (min-width : 1000px){
    /*header*/
    nav {
        display: block;
        position: static;
    }
    
    .fas {
        display: none;
    }
    
    nav a {
        display: inline-block;
    }
    
    header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    

    /*Home*/
    .the-museum {
        display: grid;
        grid-template-columns: 5fr 4fr;
        margin: 50px;
    }
    
    .the-museum img {
        width: 75%;
        padding: 99px;
    }
    .skeleton1 img, .skeleton2 img {
        width: 350px;
    }

    .skeleton {
        margin: 0 180px;
    }

    /*exhibition*/
    .exhibition {
        display: grid;
        grid-template-columns: 4fr 5fr;
        margin: 75px 250px;
    }
    
    /*Get involved*/
    .get-involved {
        margin: 100px 200px;
    }

    /*Explore*/
    .explore-name h1, .explore-name h2 {
        padding: 65px;
    }

    .explore {
        display: grid;
        grid-template-columns: 4fr 5fr;
        margin: 100px;
    }
}

@media (min-width : 2000px) {
    /*Explore*/
    .explore-name h1, .explore-name h2 {
        padding: 120px;
    }
}